* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$font-stack: 'Roboto', sans-serif;
$font-color-primary: rgb(199, 196, 189);
$font-color-secondary: rgb(25, 66, 146);

$color-primary: rgb(26, 28, 30);
$color-secondary: rgb(24, 26, 27);
$color-light: rgb(34, 37, 38);


html {
  height: -webkit-fill-available;
}

body {
  height: 100vh;
  min-height: 100vh;
  min-height: -webkit-fill-available;
 
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: $font-stack;
  color: $font-color-primary;
  background-color: $color-primary;
}


header {
  flex: 0 1 auto;
  padding: 2em 0;
}


main {
  width: 100vw;
  flex: 1 1 auto;

  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr auto;


  .dynamicText,
  .dynamicInput {
    order: 1;
  }

  .dynamicText.active {
    display: none;
  }

  .dynamicInput {
    display: none;
  }
  .dynamicInput.active {
    display: inline-block;
  }

  .sidebar {
    grid-row: 1 / 3;

    display: flex;
    flex-direction: column;
  }


  .currentBoard {
    flex: 1 1 auto;

    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto 1fr;

    background-color: black;
    padding: 10px;

    >.dynamicText,
    >.dynamicInput {
      order: 0;
    }

    .board {
      grid-column: 1 / 4;
      align-self: start;

      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 10px;

      .list {
        display: grid;
        grid-template-columns: 1rem 1fr 1rem;
        grid-row-gap: 10px;

        background-color: $color-light;
        border-radius: 5px;
        padding: 5px;

        h2 {
          grid-column: 2 / 3;
          grid-row: 1 / 2;

          font-size: 1rem;
          cursor: pointer;
        }
        .headingInput {
          grid-column: 2 / 3;
          grid-row: 1 / 2;
        } 

        .card {
          grid-column: 1 / 4;

          display: grid;
          grid-template-columns: 1fr auto;
          grid-template-rows: 1fr 1fr;

          background-color: $color-secondary;
          border-radius: 5px;

          h3 {
            grid-column: 1 / 2;
            grid-row: 1 / 3;
          }
          .moveUpBtn {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
          }
          .moveDownBtn {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
          }

        }

        .newCard,
        .newCardInput {
          grid-column: 1 / 3;
          order: 1;
        }

        .removeList {
          grid-column: 3 / 4;
          order: 1;
        }
      }

      button.newList {
        order: 1; // the button should always be last
      }
    }
  }




}


footer {
  grid-column: 2 / 3;
  
  text-align: center;
  padding: 0.8rem;
  font-size: 0.8rem;
  background-color: black;

  a {
    text-decoration: none;
    color: $font-color-secondary;
  }
}